@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Ensure backdrop blur works across browsers */
  .backdrop-blur-\[10px\] {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
} 